<% provide(:title, "My profile") %>

<div id="top"></div>
<div class="marg-left">
  <%= link_to "Add new bicycle", new_bicycle_path, class: "btn btn-warning", type: "button" %>
  <%= link_to "Edit my account", edit_user_registration_path, class: "btn btn-info", type: "button" %>
</div>
<br>
<h2 class="text-center">Your bicycles</h2><hr>
<%= will_paginate @user_bikes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% @user_bikes.each do |bike| %>
<div class="container">
  <div class="jumbotron">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <% if bike.picture? %>
          <%= image_tag(bike.picture.url, height: "225px") if bike.picture? %>
            <% else %>
          <%= image_tag "unknown.png" %>
            <% end %>
          <div class="card-body">
            <p class="card-text text-center"><b><%= bike.name %></b></p>
              <% if bike.description.to_s.length < 141 %>
            <p><%= bike.description %></p>
              <% else %>
            <p><%= bike.description.first(140) %><%= link_to "..read more", bicycle_path(bike.id) %></p>
              <% end %>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", bicycle_path(bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                  <%= link_to "Edit", edit_bicycle_path(bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                  <%= link_to "Delete bike", bicycle_path(bike.id), class: "btn btn-sm btn-outline-primary", method: :delete %>
                </div>
                  <div class = "timestamp text-muted">Add <%= time_ago_in_words(bike.created_at) %> ago.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
<br>
  <% end %>
<%= link_to t('link.top'), '#top', class: "btn btn-secondary", type: "button" %>
<%= will_paginate @user_bikes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
