<% provide(:title, "All bicycles") %>
<div id="top"></div>

<div class="input-group my-search">
<%= search_form_for @q do |f| %>
  <%= f.label :name_or_description_cont, "Find in name or description" %><br>
  <%= f.search_field :name_or_description_cont, placeholder: "Find here...", class: "form-control rounded mb-2" %>
  <%= f.submit "Search", class: "btn btn-outline-primary search-btn" %>
<% end %>
</div>

<hr>
<%= will_paginate @bikes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% @bikes.each do |bike| %>
<div class="album py-5 bg-light">
<div class="container">
  <div class="jumbotron">
    <% if !current_user.liked?(bike) %>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <% if bike.picture? %>
          <%= image_tag(bike.picture.url, height: "225px") if bike.picture? %>
            <% else %>
          <%= image_tag "unknown.png", height: "225px" %>
            <% end %>
          <div class="card-body card-bg">
            <p class="card-text text-center"><b><%= bike.name %></b></p>
              <% if bike.description.to_s.length < 141 %>
            <p><%= bike.description %></p>
              <% else %>
            <p><%= bike.description.first(140) %><%= link_to "..read more", bicycle_path(bike.id) %></p>
              <% end %>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View bike", bicycle_path(bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                      <% if can? :destroy, bike %>
                        <%= link_to "Edit bike", edit_bicycle_path(bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                      <% else %>
                      <%= link_to "Editt bike", new_bicycle_suggestion_path(bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                      <% end %>
                </div>
                <div class = "timestamp text-muted">Add <%= time_ago_in_words(bike.created_at) %> ago.</div>
              </div>
              <div class="votingBtn margin-top-md">
                   <%= link_to vote_bicycle_path(bike.id), class: "btn btn-xs btn-default", method: 'put', remote: true do %>
                       <% if current_user.liked?(bike) %>
                        <i class="fa-solid fa-heart"></i>
                       <% else %>
                        <i class="fa-regular fa-heart"></i>
                       <% end %>
                   <% end %>
                  <span class="voteCount"><%= bike.get_likes.count %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
   </div>
</div>
</div>
<br>
  <% end %>

<%= link_to t('link.top'), '#top', class: "btn btn-secondary", type: "button" %>
