<div class="container">
  <div class="jumbotron">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <% if @bike.picture? %>
            <%= image_tag(@bike.picture.url, height: "225px") if @bike.picture? %>
          <% else %>
            <%= image_tag "unknown.png", height: "225px" %>
          <% end %>
        <div class="card-body card-bg">
          <p class="card-text text-center"><b><%= @bike.name %></b></p>
          <p class="card-text"><%= @bike.description %></p>
          <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
              <% if can? :edit, @bike %>
            <%= link_to "Edit bike", edit_bicycle_path(@bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
              <% else %>
              <%= link_to "Editt bike", new_bicycle_suggestion_path(@bike.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
              <% end %>

              <% if can? :destroy, @bike %>
            <%= link_to "Delete bike", bicycle_path(@bike.id), class: "btn btn-sm btn-outline-primary", method: :delete %>
              <% end %>
          </div>
          <div class = "timestamp text-muted">Add <%= time_ago_in_words(@bike.created_at) %> ago.</div>
        </div>

        <h2>Comments:</h2>
        <% if @comments.any? %>
        <% @comments.each do |comment| %>
        <div class="mb-3 my-comment">
      <p><b><%= comment.author %></b></p>
      <em><%= comment.body %></em>
      <%= link_to bicycle_comment_path(@bike.id, comment.id), method: :delete do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No comments found.</p>
<% end %>

<h2>Add a new comment</h2>
<%= render 'layouts/comments_form'%>

        <div class="votingBtn margin-top-md">
             <%= link_to vote_bicycle_path(@bike.id), class: "btn btn-xs btn-default", method: 'put', remote: true do %>
                <% if current_user.liked?(@bike) %>
                  <i class="fa-solid fa-heart"></i>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
             <% end %>
            <span class="voteCount"><%= @bike.get_likes.count %></span>
        </div>

        </div>
      </div>
    </div>
  </div>
<br><br>


  <% if @sug.present? %>
  <% if can? :destroy, @sug %>
  <h1>Suggestions: </h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <% if @sug.picture? %>
          <%= image_tag(@sug.picture.url, height: "225px") %>
        <% else %>
          <%= image_tag "unknown.png", height: "225px" %>
        <% end %>
      <div class="card-body card-bg">
        <p class="card-text text-center"><b><%= @sug.name %></b></p>
        <p class="card-text"><%= @sug.description %></p>
        <div class="d-flex justify-content-between align-items-center">
        <div class = "timestamp text-muted">create <%= time_ago_in_words(@sug.created_at) %> ago.</div>
        </div>
      </div><br>
      <%= link_to "Accept suggestion", accept_bicycle_suggestion_path(@bike.id, @sug.id), method: :put, class: "btn btn-sm btn-outline-success", type: "button" %>
      <%= link_to "Decline", bicycle_suggestion_path(@bike.id, @sug.id), method: :delete, class: "btn btn-sm btn-outline-danger", type: "button" %>
    </div>
  </div>
</div>
<% end %>
  <% else %>
  <em>No Suggestions at this moment</em>
  <% end %>

  </div>
</div>
