<% provide(:title, 'Home') %>
<div class="container bg-home">
  <div class="jumbotron">

<section id="scroll">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5"><%= image_tag "bic1.png", class: "img-fluid rounded-circle", alt: "picture" %></div>
        </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">For those about to ride bicycles...</h2>
                <p>The first machines similar to bicycles were invented in the early 1800s.
                  They had no pedals. Later machines had pedals and front wheels that were much
                  larger than the back wheels. The front wheels were about 5 feet (1.5 meters) tall.
                  By about 1900 bicycles looked similar to the bicycles of today.</p>
            </div>

          </div>
        </div>
    </div>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5"><%= image_tag "bic2.jpg", class: "img-fluid rounded-circle", alt: "picture" %></div>
         </div>
         <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Types of Bicycles</h2>
              <p>There are six main types of bicycles: utility, mountain, hybrid, touring, racing, and bicycle motocross (BMX).
                 Utility bicycles have heavy frames and usually one speed. Mountain bikes have wide tires, flat handlebars, and
                 many speeds. They are good for riding on rough trails. Hybrid bicycles are like mountain bikes, but their tires
                 are not as wide. They are good for both roads and off-road trails. Touring and racing bicycles have narrow tires,
                 lightweight frames, curved handlebars, and many speeds. They are often called road bikes because they are best for
                 riding on roads. BMX bikes are designed for racing on dirt tracks. BMX bikes have a small frame, a low seat, high
                 handlebars, and one speed.</p>
             </div>
          </div>
          <div class="text-center">
            <%= link_to "Join our community", new_user_registration_path, class: "btn btn-primary btn-xl rounded-pill mt-5" %>
            <%= link_to "Learn more our bikes", bicycles_path, class: "btn btn-primary btn-xl rounded-pill mt-5" %>
          </div>
        </div>
    </div>
</section>
</div>
  <div class="jumbotron">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <% if @bike.first.picture? %>
          <%= image_tag(@bike.first.picture.url, height: "225px") if @bike.first.picture? %>
            <% else %>
          <%= image_tag "unknown.png", height: "225px" %>
            <% end %>
          <div class="card-body">
            <p class="card-text text-center"><b><%= @bike.first.name %></b></p>
              <% if @bike.first.description.to_s.length < 141 %>
            <p><%= @bike.first.description %></p>
              <% else %>
            <p><%= @bike.first.description.first(140) %><%= link_to "..read more", bicycle_path(@bike.first.id) %></p>
              <% end %>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View bike", bicycle_path(@bike.first.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                </div>
                  <div class = "timestamp text-muted"><%= link_to "View all bicycles", bicycles_path %></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
              <% if @bike.second.picture? %>
            <%= image_tag(@bike.second.picture.url, height: "225px") if @bike.second.picture? %>
              <% else %>
            <%= image_tag "unknown.png", height: "225px" %>
              <% end %>
            <div class="card-body">
              <p class="card-text text-center"><b><%= @bike.second.name %></b></p>
                <% if @bike.second.description.to_s.length < 141 %>
              <p><%= @bike.second.description %></p>
                <% else %>
              <p><%= @bike.second.description.first(140) %><%= link_to "..read more", bicycle_path(@bike.second.id) %></p>
                <% end %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "View bike", bicycle_path(@bike.second.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                  </div>
                    <div class = "timestamp text-muted"><%= link_to "View all bicycles", bicycles_path %></div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
                <% if @bike.third.picture? %>
              <%= image_tag(@bike.third.picture.url, height: "225px") if @bike.third.picture? %>
                <% else %>
              <%= image_tag "unknown.png", height: "225px" %>
                <% end %>
              <div class="card-body">
                <p class="card-text text-center"><b><%= @bike.third.name %></b></p>
                  <% if @bike.third.description.to_s.length < 141 %>
                <p><%= @bike.third.description %></p>
                  <% else %>
                <p><%= @bike.third.description.first(140) %><%= link_to "..read more", bicycle_path(@bike.third.id) %></p>
                  <% end %>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "View bike", bicycle_path(@bike.third.id), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                    </div>
                      <div class = "timestamp text-muted"><%= link_to "View all bicycles", bicycles_path %></div>
                  </div>
                </div>
              </div>
          </div>
      </div>
   </div>
</div>
